@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@layer utilities {
  @responsive {
    .max-h-screen {
      max-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
      max-height: calc(var(--vh, 1vh) * 100);
    }

    .max-h-screen-80 {
      max-height: 80vh;
      max-height: calc(var(--vh, 1vh) * 80);
    }

    .min-w-sm {
      min-width: 24rem;
    }
  }

  .flex-basis-0 {
    flex-basis: 0;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Your own custom utilities */

body {
  @apply bg-pearl text-white;
}
